/* Background */
.electrical-wrapper {
  background: linear-gradient(to bottom, #f7f9fc, #eef2f7);
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow: hidden;
}

/* Elegant Heading */
.main-title {
  font-size: 38px;
  font-weight: 700;
  color: #0a2155;
}

.sub-title {
  color: #444;
  max-width: 700px;
  margin: 0 auto;
  font-size: 15px;
}

.divider {
  width: 90px;
  height: 4px;
  margin: 20px auto 0;
  background: #0a2155;
  border-radius: 4px;
}

/* ----- IMAGE SECTION ----- */

.image-frame {
  position: relative;
  border-radius: 14px;
  overflow: hidden;
}

.main-image {
  width: 100%;
  height: 360px;
  object-fit: cover;
  filter: brightness(0.9);
  transition: 0.5s ease;
}

.image-frame:hover .main-image {
  transform: scale(1.08);
  filter: brightness(1);
}

/* Floating Shapes */
.floating-shape {
  position: absolute;
  background: rgba(10, 33, 85, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 50%;
  animation: float 7s infinite ease-in-out;
}

.shape-1 {
  width: 80px;
  height: 80px;
  top: -20px;
  right: -10px;
}

.shape-2 {
  width: 60px;
  height: 60px;
  bottom: -15px;
  left: -10px;
  animation-delay: 1.5s;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(15px); }
  100% { transform: translateY(0px); }
}

/* Overlay Title */
.overlay-heading {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(10, 33, 85, 0.8);
  padding: 12px 25px;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 0 4px 15px rgba(0,0,0,0.25);
}

/* ----- SERVICES SECTION ----- */

.services-card {
  background: white;
  padding: 32px;
  border-radius: 14px;
  border-left: 5px solid #0a2155;
  transition: 0.4s ease;
}

.services-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

.services-heading {
  font-size: 20px;
  color: #0a2155;
  font-weight: 600;
  margin-bottom: 20px;
}

.service-item {
  font-size: 14px;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
  background-color: #73BAAA;
  padding: 11px;
  width: 50%;
}

.icon-check {
  color: #0a2155;
  font-size: 18px;
}

/* ----- GALLERY ----- */

.gallery-card {
  border-radius: 14px;
  overflow: hidden;
  background: white;
  transition: 0.4s;
}

.gallery-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  transition: 0.5s ease;
}

.gallery-card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.25);
}

.gallery-card:hover .gallery-img {
  transform: scale(1.12);
}
