.hero-section {
  position: relative;
  width: 100%;
}

.hero-single {
  min-height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-single::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
}

.container {
 
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  z-index: 2;
}

.hero-content {
  color: white;
  text-align: center;
  position: relative;
  z-index: 3;
}

.hero-sub-title {
  font-size: 1.2rem;
  color: #ffffff;
  background-color: transparent;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 2rem !important;
  display: none !important;
}

.hero-sub-title i {
  margin-right: 10px;
}

.hero-title {
  font-size: clamp(2rem, 5vw + 1rem, 8rem) !important;
  font-weight: 700 !important;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 25px;
  transition: all 0.3s ease-in-out;
  
}

.hero-title:hover {
  color: #ffffff;
  
}

.hero-content p {
  font-size:2rem !important;
  line-height: 1.4 !important;
  color: #ffffff !important;
  margin-bottom: 0px !important;
  opacity: 0.95;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}



.theme-btn,
.theme-btn2 {
  padding: 14px 36px;
  font-size: clamp(0.9rem, 2vw, 1rem) !important;
  font-weight: 600;
  border-radius: 50px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
  text-transform: capitalize;
   margin: auto !important;
   background-color: #0039A0 !important;
   color: white !important;

}






.swiper-pagination-bullet {
  background: white;
  opacity: 0.5;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #f39c12;
}

/* Responsive Adjustments */
@media (max-width: 992px) {
  .hero-title {
    font-size: 4rem;
    -webkit-text-stroke: 1.5px #fff;
  }

  .hero-content p {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 2.8rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-btn {
    flex-direction: column;
  }

  .theme-btn,
  .theme-btn2 {
    width: 40%;
    justify-content: center;
  }
}
